<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <link href="~/root/vendors/feather/feather.css" rel="stylesheet" />
    <link href="~/root/vendors/ti-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="~/root/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/root/css/vertical-layout-light/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/root/images/favicon.png" />

</head>
   

<body>

    @RenderBody()

    <script src="~/root/js/vendor.bundle.base.js"></script>
    <script src="~/root/js2/js/off-canvas.js"></script>
    <script src="~/root/js2/js/hoverable-collapse.js"></script>
    <script src="~/root/js2/js/template.js"></script>
    <script src="~/root/js2/js/settings.js"></script>
    <script src="~/root/js2/js/todolist.js"></script>
</body>

</html>
